
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Titulo de nuestra página web (es lo que aparece en la pestaña)</title>
    
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" >
</head>
<body>
    <a href='mostrar_usuarios.html'>Usuarios</a>
    <a href='mostrar_tareas.html'>Tareas</a>
    <a href='mostrar_proyectos.html'>Proyectos</a>
    <script crossorigin="anonymous"
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" >
	</script>

 

</body>
</html>