<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" crossorigin="anonymous"
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" >
</head>
<body>
    <h2>Inicio de Sesión</h2>
    <form action="index.html" method="post">
        <div class="form-group row">
            <label for="username">Usuario</label>
            <input type="text" id="username" name="username" value="{{username}}">
        </div>
            
        <div class="form-group row">
            <label for="password">Contraseña</label>
            <input type="password" id="password" name="password" value="{{password}}">
        </div>
        <div class="form-group row">
            <input type="submit" value="Iniciar Sesión">
        </div>
    </form>

    <script crossorigin="anonymous"
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" >
	</script>
</body>
</html>