<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" crossorigin="anonymous"
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" >
</head>
<body>
    <h2>¡Edita la tarea tarea!</h2>
    <form action=""  method="POST">
        <div class="form-group row">
            <label for="">Id</label>
            <input type="text" id="id_tarea" name="id_tarea" value="{{tarea.id_tarea}}">
        </div>
        <div class="form-group row">
            <label for="">Tarea</label>
            <input type="text" id="nombre_tarea" name="nombre_tarea" value="{{tarea.nombre_tarea}}">
        </div>
        <div class="form-group row">
            <label for="">Fecha Inicio</label>
            <input type="date" id="fecha_inicio" name="fecha_inicio" value="{{tarea.fecha_inicio}}">
        </div>
        <div class="form-group row">
            <label for="">Fecha Fin</label>
            <input type="date" id="fecha_fin" name="fecha_fin" value="{{tarea.fecha_fin}}">
        </div>
        <div class="form-group row">
            <label for="">Fecha Limite</label>
            <input type="date" id="fecha_limite" name="fecha_limite" value="{{tarea.fecha_limite}}">
        </div>
        <div class="form-group row">
            <label for="">Estado Tarea</label>
            <input type="booleano" id="estado_tarea" name="estado_tarea" value="{{tarea.estado_tarea}}">
        </div>
        <button class="btn btn-primary" type="submit">Enviar</button>
        <a class="btn btn-primary" href="/">Cancelar</a>
    </form>


    <script crossorigin="anonymous"
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" >
	</script>
</body>
</html>